<ion-view view-title="Dashboard">
  <ion-content class="padding">
  <div class="bar bar-header">
  <h1 class="title">Header</h1>
</div>
    <h2>Ionic Map Starter</h2>
    <p>This starter ---  extends the Tab based starter with a Map Tab, and controller</p>
    <div class="row">
      <div class="col card"><i class="icon ion-home ion-left"></i>  col1</div>
      <div class="col">
        <ion-list>
          <ion-item>gulp-inject</ion-item>
      </ion-list>


      </div>
    </div><!--row-->
    <hr/>
        <h3>Modifications made to original Tab Starter</h3>
        <ul>
          <li>Uses gulp-inject to manage includes with gulp-inject as described at <a href="http://digitaldrummerj.me/gulp-inject/">http://digitaldrummerj.me/gulp-inject/</a></li>
          <li>Split controllers into unique files</li>
        </ul>
    <hr/>

    <p>
    This was based on the original Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a> or the <a href="https://github.com/driftyco/ionic-starter-tabs">GitHub Repo at https://github.com/driftyco/ionic-starter-tabs</a>
    </p>
    <p>
      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p>
    If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p>
    <p>
      For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We also have other services available.
    </p>
  </ion-content>
</ion-view>
